* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 80vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    border-bottom-left-radius: 10%;
    background-color: rgb(252, 87, 75);
    background-image: url("./images/bg-pattern-intro.svg");
    // background-size: 100%;
    background-position: 25%, -50%;
    background-repeat: no-repeat;
}

nav {
    height: 10vh;
    position: absolute;
    display: flex;
    width: 80%;
    left: 10%;
    top: 3.5vh;
    align-items: center;
    justify-content: space-between;
    // border: 3px solid green;

    .left-nav {
        display: flex;
        align-items: center;

        div {
            padding: 0 0.7rem;
            font-size: 0.7rem;
        }
        .logo {
            font-size: 1.4rem;
            padding: 1rem 2.5rem 1rem 0;
            font-family: "Ubuntu", sans-serif;
            h1 {
                font-weight: 400;
            }
        }

        .dropbtn {
            // background-color: #04aa6d;
            color: rgb(255, 255, 255);
            background-color: transparent;
            padding: 5px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
            font-family: "Overpass", sans-serif;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 120px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
        .dropdown-content a {
            color: black;
            padding: 12px 10px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
        }
    }
    .right {
        display: flex;
        // border: 3px solid red;
        width: 25%;
        justify-content: space-evenly;
        font-size: 0.7rem;
        font-family: "Ubuntu", sans-serif;
        div {
            padding: 0.7rem 1.5rem;
            margin: 0 1rem;
            background-color: white;
            color: rgb(255, 60, 0);
            border-radius: 25px;
            font-size: 1.1rem;
            font-weight: 600;
        }
        div:nth-child(1) {
            background-color: transparent;
            color: white;
            font-weight: 400;
        }
    }
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    h1 {
        font-size: 4rem;
        font-weight: 400;

        padding: 1.5rem 0;
    }
    h5 {
        font-size: 1.5rem;
        font-weight: 300;
        font-family: "Overpass", sans-serif;
        padding: 0 0 3rem 0;
        color: rgba(255, 255, 255, 0.788);
    }
    div {
        display: flex;
        div {
            padding: 0.5rem 1rem;
            margin: 0 1rem;
            background-color: white;
            color: orange;
            border-radius: 20px;
            font-size: 1.1rem;
            font-weight: 600;
        }
        div:nth-child(2) {
            background-color: transparent;
            border: 1px solid white;
            font-weight: 400;
            color: white;
        }
    }
}

.content-two {
    height: 120vh;

    display: flex;
    margin-top: 5vh;
    position: relative;
    overflow-x: hidden;
    // overflow-y: hidden;
}
.left {
    width: 50%;
    padding: 27vh 10vh 10vh 15vh;
}
.right {
    width: 50%;
    display: block;
    z-index: 2;
    // overflow-y: visible;
    overflow: hidden;
    img {
        width: 120%;
        overflow: hidden;
        transform: translateX(10%);
    }
}
.content-two-head {
    position: absolute;
    top: 10vh;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.733);
    font-family: "Ubuntu", sans-serif;
}

.para-head {
    font-size: 2rem;
    margin: 2rem 0;
    color: rgba(0, 0, 0, 0.733);
    font-family: "Ubuntu", sans-serif;
}
.para {
    line-height: 170%;
    font-size: 1.15rem;
    padding: 0 1rem 1rem 0rem;
    color: rgba(0, 0, 0, 0.616);
    font-family: "Overpass", sans-serif;
}

.content-three {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    color: white;
    position: relative;

    div {
        width: 50%;
        height: inherit;
        background-color: rgb(62, 57, 107);
    }
    div:nth-child(2) {
        display: flex;
        border-top-right-radius: 15%;
        flex-direction: column;
        justify-content: center;
        padding: 0 10rem 0 4rem;
        h3 {
            font-size: 2.25rem;
            text-align: left;
            color: rgba(255, 255, 255, 0.932);
            font-weight: 400;
        }
        p {
            color: rgba(255, 255, 255, 0.774);
        }
    }
    .left-img {
        width: 50%;
        overflow: hidden;
        border-bottom-left-radius: 15%;
        img:nth-child(1) {
            position: absolute;
            width: 30%;
            top: 0;
            z-index: 2;
            left: 10%;
            transform: translateY(-10%);
        }
        img:nth-child(2) {
            transform: translateY(-55%) translateX(-10%);
        }
    }
}

.content-four {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5vh;
    position: relative;
    overflow-x: hidden;
    .right {
        img {
            width: 130%;
            transform: translateX(-28%) translateY(5%);
        }
    }
    .left {
        transform: translateX(-10%);
        padding-left: 17vh;
        padding-right: 10vh;
    }
}

footer {
    min-height: 40vh;
    display: flex;
    padding-top: 5vh;
    border-top-right-radius: 80px;
    background-color: rgb(37, 37, 37);
    color: white;
    align-items: start;
    font-family: "Ubuntu", sans-serif;
    justify-content: space-evenly;
    h6 {
        padding-bottom: 1rem;
        font-size: 1rem;
    }
}
li {
    font-family: "Overpass", sans-serif;
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.7rem 0;
    color: rgb(206, 206, 206);
}
